$db_bgc=#a7a7a7

.db_staticNav
    background-color $db_bgc
    display flex
    padding 0px 18px
    height 60px
    width 100%
    align-items center
    margin-top  50px
    justify-content space-between